<div class="edit-userpage-container">
  <% if @user.first_name == nil %>
    <h2>Create Bootcampr Profile</h2>
  <% else %>
    <h2>Edit Bootcampr Profile</h2>
  <% end %>

  <% if @user.errors.any? %>
    <h3>Please fix the following errors:</h3>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="edit-profile-form">
       <%= form_for @user do |f| %>

       <%= f.label :first_name %>
       <%= f.text_field :first_name %>

       <%= f.label :last_name %>
       <%= f.text_field :last_name %>

       <%= f.label :bootcamp %>
       <%= f.text_field :bootcamp%>

       <%= f.label :location %>
       <%= f.text_field :location %>

       <%= f.label 'Add a profile picture' %>
       <%= f.file_field :image %>

       <%= f.label 'Github Username' %>
       <%= f.text_field :github_handle %>

       <%= f.label 'LinkedIn Username' %>
       <%= f.text_field :linkedin_handle %>

       <%= f.label 'Twitter Handle' %>
       <%= f.text_field :twitter_handle %>

       <%= f.label 'Personal Website' %>
       <%= f.text_field :website %>

       <%= f.label :summary %>
       <%= f.text_area :summary %>

       <%= f.label 'Interests (comma-separated)' %>
       <%= f.text_field :tag_list, value: f.object.tag_list.to_s %>

       <%= f.submit %>

     <% end %>
  </div>

</div>
