<h2 class='user-profile-name user-profile'><%= @user.full_name %></h2>

<div class='user-profile-bootcamp user-profile'>
  <p>Bootcamp: </p>
  <p class="user-details"><%= @user.bootcamp %></p>
</div>
<div class='user-profile-location user-profile'>
  <p>Location:</p>
  <p class="user-details"><%= @user.location %></p>
</div>

<div class='user-profile-summary user-profile'>
  <p>Summary:</p>
  <p class="user-details"><%= @user.summary %></p>
</div>

<div class='user-profile-projects user-profile'>
  <p>Projects:</p>
  <p class="user-details">
    <% @user.projects.each do |project| %>
      <%= link_to "#{project.title}", project_path(project) %>
    <% end %>
  </p>
</div>

<div class='user-project-links user-profile'>
  <span class='user-link user-profile'><%= link_to image_tag('github_icon.png', width: 50), "https://github.com/#{@user.github_handle}" %></span>
  <span class='user-link user-profile'><%= link_to image_tag('twitter_icon.png', width: 50), "https://twitter.com/#{@user.twitter_handle}" %></span>
  <span class='user-link user-profile'><%= link_to image_tag('linkedin_icon.png', width: 50), "https://linkedin.com/in/#{@user.linkedin_handle}" %></span>
  <span class='user-link user-profile'><%= link_to image_tag('website_icon.jpg', width: 50), @user.website %></span>
</div>

<div class='user-profile-tags user-profile'>
  <p>Interests:</p>
  <p class="user-details">
    <%= safe_join(@user.tag_list.map { |tag| link_to(tag, tag_path(Tag.find_by(name: tag))) }, ", ".html_safe) %>
  </p>
</div>

<% if @user == current_user %>
  <%= link_to "Edit Profile", edit_user_path(current_user) %>
<% end %>
