<div class="user-picture-and-links user-col">
  <h2 class='user-header'><%= @user.full_name %>'s Profile</h2>
  <div class="profile-picture-container">
    <% if @user.image_stored? %>
    <%= image_tag @user.image.thumb('256x256').url %>
    <% else %>
    <%= image_tag('default_profile.png') %>
    <% end %>
  </div>
  <div class='user-project-links user-profile'>
    <span class='user-link user-profile'><%= link_to image_tag('github_icon.png', width: 50), "https://github.com/#{@user.github_handle}"  if @user.github_handle != '' %></span>
    <span class='user-link user-profile'><%= link_to image_tag('twitter_icon.png', width: 50), "https://twitter.com/#{@user.twitter_handle}" if @user.twitter_handle != '' %></span>
    <span class='user-link user-profile'><%= link_to image_tag('linkedin_icon.png', width: 50), "https://linkedin.com/in/#{@user.linkedin_handle}" if @user.linkedin_handle != '' %></span>
    <span class='user-link user-profile'><%= link_to image_tag('globe.jpg', width: 50), @user.website if @user.website != '' %></span>
    <% if @user == current_user %>
      <p><%= link_to "Edit Profile", edit_user_path(current_user) %></p>
      <p><%= link_to "Account Settings", edit_user_registration_path %></p>
    <% end %>
  </div>
</div>

<div class="user-details user-col middle-col">
  <h2 class='user-header'>Details:</h2>
  <div class='user-profile-bootcamp user-profile'>
    <p>Bootcamp: <%= @user.bootcamp %></p>
  </div>
  <div class='user-profile-location user-profile'>
    <p>Location: <%= @user.location %></p>
  </div>
  <div class='user-profile-summary user-profile'>
    <p>Summary: <%= @user.summary %></p>
  </div>
  <div class='user-profile-tags user-profile'>
    <h2>Skills & Interests:</h2>
    <ul class='tag-list'>
      <% @user.tag_list.each do |tag| %>
      <li><%=link_to tag, tag_path(Tag.find_by(name: tag)), class: 'user-tag' %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="user-assets user-col">
  <h2 class='user-header'>Activity:</h2>
  <strong>Projects:</strong>
  <% @user.projects.order(created_at: :desc).limit(5).each do |project| %>
    <p><%= link_to project.title, project_path(project) %></p>
  <% end %>
  <div class="project-modal">
    <div class="modal">
      <label for="modal-1">
        <div class="modal-trigger"> <%= @user.projects.last.title %> and <%= @user.projects.length - 1 %> more projects</div>
      </label>
      <input class="modal-state" id="modal-1" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-1"></div>
          <h1>Affiliated Projects</h1>
          <p class="modal-intro">A list of projects affiliated with <%= @user.full_name %></p>
          <ul>
            <% @user.projects.each do |project| %>
            <li><p class='modal-content'><%= link_to "#{project.title}", project_path(project) %></p></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <strong>Events:</strong>
  <% @user.events.order(created_at: :desc).limit(5).each do |event| %>
    <p><%= link_to event.title, event_path(event) %></p>
  <% end %>
  <div class="event-modal">
    <div class="modal">
      <label for="modal-2">
        <div class="modal-trigger"><%= @user.events.last.title %> and <%= @user.events.length - 1 %> more events</div>
      </label>
      <input class="modal-state" id="modal-2" type="checkbox" />
      <div class="modal-fade-screen">
        <div class="modal-inner">
          <div class="modal-close" for="modal-2"></div>
          <h1>Affiliated Events</h1>
          <p class="modal-intro">A list of events affiliated with <%= @user.full_name %></p>
          <ul>
            <% @user.events.each do |event| %>
            <li><p class='modal-content'><%= link_to "#{event.title}", event_path(event) %></p></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
