<div class="user-picture-and-links user-col">
  <h2 class='user-header'><%= @user.full_name %>'s Profile</h2>
  <div class="profile-picture-container">
    <% if @user.image_stored? %>
    <%= image_tag @user.image.thumb('256x256').url %>
    <% else %>
    <%= image_tag('default_profile.png') %>
    <% end %>
  </div>
  <div class='user-project-links user-profile'>
    <span class='user-link user-profile'><%= link_to image_tag('github_icon.png', width: 50), "https://github.com/#{@user.github_handle}"  if @user.github_handle != '' %></span>
    <span class='user-link user-profile'><%= link_to image_tag('twitter_icon.png', width: 50), "https://twitter.com/#{@user.twitter_handle}" if @user.twitter_handle != '' %></span>
    <span class='user-link user-profile'><%= link_to image_tag('linkedin_icon.png', width: 50), "https://linkedin.com/in/#{@user.linkedin_handle}" if @user.linkedin_handle != '' %></span>
    <span class='user-link user-profile'><%= link_to image_tag('globe.jpg', width: 50), @user.website if @user.website != '' %></span>
    <% if @user == current_user %>
      <p><%= link_to "Edit Profile", edit_user_path(current_user) %></p>
      <p><%= link_to "Account Settings", edit_user_registration_path %></p>
      <p><%= link_to  %></p>
    <% end %>
  </div>
</div>

<div class="user-details user-col middle-col">
  <h2 class='user-header'>Details:</h2>
  <div class='user-profile-bootcamp user-profile'>
    <p>Bootcamp: <%= @user.bootcamp %></p>
  </div>
  <div class='user-profile-location user-profile'>
    <p>Location: <%= @user.location %></p>
  </div>
  <div class='user-profile-summary user-profile'>
    <p>Summary: <%= @user.summary %></p>
  </div>
  <div class='user-profile-tags user-profile'>
    <h2>Skills & Interests:</h2>
    <ul class='tag-list'>
      <% @user.tag_list.each do |tag| %>
      <li><%=link_to tag, tag_path(Tag.find_by(name: tag)), class: 'user-tag' %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="user-assets user-col">
  <h2 class='user-header'>Affiliated Projects:</h2>
  <div class='user-profile-projects user-profile'>
    <% @user.projects.each do |project| %>
    <p><%= link_to "#{project.title}", project_path(project) %></p>
    <% end %>
  </div>
  <h2>Affiliated Events:</h2>
  <div class="user-profile-events user-profile">
    <% @events.each do |event| %>
      <% if event.date >= Date.today %>
      <p><%= link_to "#{event.title}", event %></p>
      <% end %>
    <% end %>
  </div>
</div>
