<h3>Hey <%= @user.first_name %>!</h3>

<p>
  Are you looking for something to do this week? We thought you might like some ideas to get you started.
</p>

<div>
  <strong>Recently-posted projects:</strong>

  <% possible_projects = Project.tagged_with(@user.tag_list, on: :tags, any: true) %>
  <% possible_projects = possible_projects.sort_by { |project| project.updated_at } %>
  <% possible_projects.slice(0, 5).each do |project| %>
    <br /><%= link_to project.title, project %>
  <% end %>
  <br />
  <br />
</div>

<div>
  <strong>Recently-posted events:</strong>

  <% possible_events = Event.tagged_with(@user.tag_list, on: :tags, any: true) %>
  <% possible_events = possible_events.sort_by { |event| event.updated_at } %>
  <% possible_events.slice(0, 5).each do |event| %>
    <br /><%= link_to event.title, event %>
  <% end %>
  <br />
  <br />
</div>

Want more ideas? <%= link_to 'Update your interests!', edit_user_url(@user) %>

<div align="center">
  -- <%= link_to 'Bootcampr', root_url %><br />
  <a href='https://twitter.com/bootcamprapp'><%= image_tag(attachments['twitter_icon.png'].url, width: 25) %> @bootcamper</a></small>
</div>
