<div>
  <% @event.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>

  <% if @project %>
    <%= form_for @event, url: project_events_path do |f| %>
      Title: <%= f.text_field :title %><br>
      Date: <%= f.date_field :date %><br>
      Time: <%= f.time_field :time %><br>
      Location: <%= f.text_field :location %><br>
      Summary: <%= f.text_area :summary %><br>
      Categories: <%= f.text_field :tag_list, value: f.object.tag_list.to_s %><br />
      Image (optional): <%= f.file_field :image %>
      <%= f.submit %><br>
    <% end %>
  <% else %>
    <%= form_for @event do |f| %>
        Title: <%= f.text_field :title %><br>
        Date: <%= f.date_field :date %><br>
        Time: <%= f.time_field :time %><br>
        Location: <%= f.text_field :location %><br>
        Summary: <%= f.text_area :summary %><br>
        Categories: <%= f.text_field :tag_list, value: f.object.tag_list.to_s %><br />
        Image (optional): <%= f.file_field :image %>
        <%= f.submit %><br>
      <% end %>
  <% end %>

</div>
