<h2>Events</h2>
<br>
<%= link_to 'Add a New Event', new_event_path %>
<h3>January</h3>
  <%= render partial: 'events', collection: @january %>
<h3>February</h3>
  <%= render partial: 'events', collection: @february %>
<h3>March</h3>
  <%= render partial: 'events', collection: @march %>
<h3>April</h3>
  <%= render partial: 'events', collection: @april %>
<h3>May</h3>
  <%= render partial: 'events', collection: @may %>
<h3>June</h3>
  <%= render partial: 'events', collection: @june %>
<h3>July</h3>
  <%= render partial: 'events', collection: @july %>
<h3>August</h3>
  <%= render partial: 'events', collection: @august %>
<h3>September</h3>
  <%= render partial: 'events', collection: @september %>
<h3>October</h3>
  <%= render partial: 'events', collection: @october %>
<h3>November</h3>
  <%= render partial: 'events', collection: @november %>
<h3>December</h3>
  <%= render partial: 'events', collection: @december %>
