<div class='page-title'><h2>Events</h2></div>

<% if user_signed_in? %>
  <div class='new-project-event-button'>
    <span><%= link_to image_tag('new-event.png'), new_event_path %></span>
  </div>
<% end %>

<div class='clear'></div>

<div class="grid-items-lines">
  <% @events.each do |event| %>
    <%= link_to event, :class => "grid-item" do %>
      <%= render partial: 'grid_items', locals: { event: event } %>
    <% end %>
  <% end %>
  <div class="right-cover"></div>
  <div class="bottom-cover"></div>
</div>

<!-- CARDS
<div class='cards'>
  <% @events.each do |event| %>
    <% if event.date >= Date.today %>
    <div class='card'>
      <div class="card-image">
        <% if event.image_stored? %>
          <%= image_tag event.image.thumb('300x300').url if event.image_stored? %>
        <% else %>
          <img src="http://lorempixel.com/400/200/abstract" alt="This would be a lot cooler if you uploaded a picture">
        <% end %>
      </div>
      <div class='card-header'>
        <%= link_to event.title, event %>
      </div>
      <div class='card-copy'>
        <p>
          <%= event.summary %>
        </p>
      </div>
    </div>
    <% end %>
  <% end %>
</div> -->
