<div>
  <h1> <%= @event.title %></h1>
  Date: <%= @event.date.strftime('%m/%d/%Y') %><br>
  Time: <%= @event.time.strftime('%I:%M %p') %><br>
  Location: <%= @event.location %><br>
  Summary: <%= @event.summary %><br><br>

  <div>
    <h3>Related Projects</h3>

    <% @event.projects.each do |project| %>
      <div>
        <%= link_to project.title, project_path %>
      </div>
    <% end %>
  </div>
</div>
