<div class='event-show-container'>
  <h1 class='event-show-title'> <%= @event.title %></h1>
  <div class="event-image">
    <%= image_tag @event.image.thumb('400x200#').url if @event.image_stored? %>
  </div>
  Date: <%= @event.date.strftime('%m/%d/%Y') %><br>
  Time: <%= @event.time.strftime('%I:%M %p') %><br>
  Location: <%= @event.location %><br>
  Summary: <%= @event.summary %><br><br>
  Coordinator: <%= @event.owner.full_name %><br>
  <% if @event.owner == current_user %>
    <%= link_to 'Edit Event', edit_event_path %>
    <%= link_to 'Delete Event', event_path, method: :delete, data: {
      confirm: "Are you sure you want to delete this event?"
      } %>
  <% end %>

  <div>
    <%= link_to 'Add a new project for this event', new_event_project_path(@event) %>
  </div>

  <% if !@event.tag_list.empty? %>
    <div>
      <strong>Categories:</strong> <%= safe_join(@event.tag_list.map { |tag| link_to(tag, tag_path(Tag.find_by(name: tag))) }, ", ".html_safe) %>
    </div>
  <% end %>

  <% if !@event.projects.empty? %>
      <h3>Related Projects</h3>

      <% @event.projects.each do |project| %>
        <div class='event-project-title'>
          <%= link_to project.title, project %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="list-event-attendees">
    <h3>Attendees:</h3>
    <% @event.attendances.each do |attendance| %>
      <% if attendance.attendee == current_user %>
        <strong><%= attendance.attendee.full_name %></strong>
      <% else %>
        <%= link_to attendance.attendee.full_name, attendance.attendee %>
      <% end %>
      <br />
    <% end %>
  </div>

  <div class="attend-event-button">
    <% if user_signed_in? && !@event.attendees.include?(current_user) %>
      <% @attendance = Attendance.new %>
      <%= form_for([@event, @attendance], remote: true) do |f| %>
        <%= f.submit 'Attend this event' %>
      <% end %>
    <% end %>
  </div>
  <%= button_to 'Back', url_for(:back), :method => :get %>
</div>
