<div>
  <h1> <%= @event.title %></h1>
  Date: <%= @event.date.strftime('%m/%d/%Y') %><br>
  Time: <%= @event.time.strftime('%I:%M %p') %><br>
  Location: <%= @event.location %><br>
  Summary: <%= @event.summary %><br><br>
</div>
