<div class="container">
  <div class="grid-items">
    <div class="upcoming-events-list front-page-column grid-item">
      <h2>Upcoming Events</h2>
      <% @upcoming_events.each do |event| %>
        <ul class='front-page-list'>
          <li> <%= event.date %> <%= event.title %> </li>
        </ul>
      <% end %>
    </div>
    <div class="recent-projects-list front-page-column grid-item">
      <h2>Recent Projects</h2>
      <% @recent_projects.each do |project| %>
        <ul class='front-page-list'>
          <li> <%= project.title %> by <%= User.find(project.owner_id).email %></li>
        </ul>
      <% end %>
    </div>
    <div class="hard-sell front-page-column grid-item">
      <h2>Bootcamp Grads!</h2>
      <p>
        Building a community of web developers from non-traditional backgrouds as well as those looking to meet and working with peers.
      </p>
      <p>Become a bootcampr <%= link_to "today!", new_user_registration_path %></p>
      <p>or, if you're already aweseome,</p>
      <p><%= link_to "Log In!", new_user_session_path %></p>
    </div>
  </div>
</div>
