<div>
  <% @project.errors.full_messages.each do |msg| %>
    <%= msg %>
  <% end %>
</div>

<div>
  <% if @event %>
    <%= form_for @project, url: event_projects_path do |f| %>
      Title: <%= f.text_field :title %><br>
      Summary: <%= f.text_field :summary %><br>
      Stack: <%= f.text_field :stack %><br>
      Repo: <%= f.text_field :repository %><br>
      Categories: <%= f.text_field :tag_list, value: '' %><br />
      <%= f.submit %><br>
    <% end %>
  <% else %>
    <%= form_for @project do |f| %>
      Title: <%= f.text_field :title %><br>
      Summary: <%= f.text_field :summary %><br>
      Stack: <%= f.text_field :stack %><br>
      GitHub Repo URL: <%= f.text_field :repository %><br>
      Categories: <%= f.text_field :tag_list, value: '' %><br />
      <%= f.submit %><br>
    <% end %>
  <% end %>
</div>
