<%= render 'shared/errors', object: @project %>

<div>
  <% if @event %>
    <%= form_for @project, url: event_projects_path do |f| %>
      Title: <%= f.text_field :title %><br>
      Summary: <%= f.text_area :summary %><br>
      Stack: <%= f.text_field :stack %><br>
      Repo: <%= f.text_field :repository %><br>
      Categories: <%= f.text_field :tag_list, value: f.object.tag_list.to_s %><br />
      Image (optional): <%= f.file_field :image %>
      <%= f.submit %><br>
    <% end %>
  <% else %>
    <%= form_for @project do |f| %>
      Title: <%= f.text_field :title %><br>
      Summary: <%= f.text_field :summary %><br>
      Stack: <%= f.text_field :stack %><br>
      GitHub Repo URL: <%= f.text_field(:repository, :value => "https://github.com/") %><br>
      Categories: <%= f.text_field :tag_list, value: f.object.tag_list.to_s %><br />
      Image (optional): <%= f.file_field :image %>
      <%= f.submit %><br>
    <% end %>
  <% end %>
</div>
