<div><h2><%= @project.title %></h2></div>

<p>
  <%= @project.summary %>
</p>

<div>
  <strong>Project Owner:</strong>

  <% if @project.owner.first_name == nil && current_user %>
    To add your name here, edit your profile and include your name there.
  <% else %>
  <%= @project.owner.first_name %> <%= @project.owner.last_name %>
  <% end %>

</div>

<div>
  <strong>Potential stack:</strong> <%= @project.stack %>
</div>

<div>
  <strong>Repository:</strong> <%= @project.repository %>
</div>

<% if !@project.events.empty? %>
  <div>
    <h3>Upcoming Events</h3>

    <% @project.events.each do |event| %>
      <div>
        <%= link_to event.title, event_path %>
      </div>
    <% end %>
  </div>
<% end %>

<%= link_to 'Edit', edit_project_path %>
