<div><h2><%= @project.title %></h2></div>

<p>
  <%= @project.summary %>
</p>

<div>
  <strong>Project Owner:</strong>

  <% if @project.owner.first_name == nil && current_user %>
    To add your name here, edit your profile and include your name there.
  <% else %>
  <%= @project.owner.first_name %> <%= @project.owner.last_name %>
  <% end %>

</div>

<div>
  <strong>Potential stack:</strong> <%= @project.stack %>
</div>

<div>
  <strong>Repository:</strong> <%= @project.repository %>
</div>

<% if !@project.tag_list.empty? %>
  <div>
    <strong>Categories:</strong> <%= safe_join(@project.tag_list.map { |tag| link_to(tag, tag_path(Tag.find_by(name: tag))) }, ", ".html_safe) %>
  </div>
<% end %>

<div>
  <%= link_to 'Add a new event for this project', new_project_event_path(@project) %>
</div>



<% if !@project.events.empty? %>
  <div>
    <h3>Upcoming Events</h3>

    <% @project.events.each do |event| %>
      <div>
        <%= link_to event.title, event_path %>
      </div>
    <% end %>
  </div>
<% end %>

<% if current_user == @project.owner %>
  <%= link_to 'Edit', edit_project_path %><br>
  <%= link_to 'Scrap this project', project_path(@project), method: :delete, data: { confirm: "Are you sure you'd like to delete this project?" } %>
<% end %>
