<div class="side-image">
  <div class="images-wrapper"></div>
    <style media="screen">
      .images-wrapper {
        background: url(<%= @project.image_stored? ? @project.image.url : "http://lorempixel.com/1400/500/abstract" %> ) no-repeat;
      }
    </style>
    <div class="side-image-content">
      <h4>Project</h4>

      <h1><%= @project.title %></h1>

      <p> <strong>Summary:</strong> <%= @project.summary %> </p>

      <div><p>
        <strong>Project Owner:</strong>
        <% if @project.owner.first_name == nil %>
          <%= link_to 'A user has no name', @project.owner %>
        <% else %>
          <%= link_to @project.owner.full_name, @project.owner %>
        <% end %>
      </div></p>

      <div><p>
        <strong>Potential stack:</strong> <%= @project.stack %>
      </div></p>

      <div><p>
        <strong>Repository:</strong> <a href="<%= @project.repository %>"><%= @project.repository %></a>
      </div>

      <div class='list-project-events'><p>
        <% if !@project.events.empty? %>
          <p><strong>Related Events: </strong></p>
          <% @project.events.each do |event| %>
            <div><p>
              <%= link_to event.title, event_path %><br>
            </div></p>
            <% end %>
          <% end %>
      </div></p>

      <% if !@project.tag_list.empty? %>
        <div><p>
          <strong>Categories:</strong> <%= safe_join(@project.tag_list.map { |tag| link_to(tag, tag_path(Tag.find_by(name: tag))) }, ", ".html_safe) %>
        </div></p>
      <% end %>

      <div class="list-project-collaborators"><p>
        <strong>Collaborators:</strong></br>
        <% if @project.collaborators != nil %>
          <% @project.collaborators.each do |collaborator| %>
            <%= link_to collaborator.full_name, collaborator %>
          <br />
          <% end %>
        <% end %>
      </div></p>

      <div class="collab-button">
        <% if user_signed_in? && !@project.collaborators.include?(current_user) && @project.owner != current_user %>
          <% @collaboration = Collaboration.new %>
          <%= form_for([@project, @collaboration], remote: true) do |f| %>
            <%= f.submit 'Become a collaborator on this project' %>
          <% end %>
        <% end %>
      </div>

      <div class='list-project-events'>
        <p><strong>Related Events:</strong>
        <% if !@project.events.empty? %>
        <% @project.events.each do |event| %>
        <%= link_to event.title, event_path %>
        <% end %></p>
      </div>
      <% end %>

      <div>
        <% if current_user == @project.owner %>
        <%= link_to 'Add a new event for this project', new_project_event_path(@project) %>
        <% end %>
      </div>


      <% if current_user == @project.owner %>
        <%= button_to 'Edit this project', edit_project_path(@project), :method => :get, class: 'show-buttons' %>
        <%= button_to 'Scrap this project', @project, method: :delete, data: { confirm: "Are you sure you'd like to delete this project?" }, class: 'show-buttons' %>
      <% end %>
      <%= button_to 'Back', url_for(:back), :method => :get, class: 'show-buttons' %>
</div>
</div>
