<div><h2><%= @project.title %></h2></div>

<p>
  <%= @project.summary %>
</p>

<div>
  <strong>Project Owner:</strong>

  <% if @project.owner.first_name == nil && current_user %>
    To add your name here, edit your profile and include your name there.
  <% else %>
  <%= @project.owner.first_name %> <%= @project.owner.last_name %>
  <% end %>

</div>

<div>
  <strong>Potential stack:</strong> <%= @project.stack %>
</div>

<div>
  <strong>Repository:</strong> <%= @project.repository %>
</div>

<% if !@project.tag_list.empty? %>
  <div>
    <strong>Categories:</strong> <%= safe_join(@project.tag_list.map { |tag| link_to(tag, tag_path(Tag.find_by(name: tag))) }, ", ".html_safe) %>
  </div>
<% end %>

<div class="list-project-collaborators">
  <h3>Collaborators:</h3>
  <% @project.collaborators.each do |person| %>
    <% if person == current_user %>
      <strong><%= person.full_name %></strong>
    <% else %>
      <%= link_to person.full_name, person %>
    <% end %>
    <br />
  <% end %>
</div>

<div class="collaborator-button">
  <% if user_signed_in? %>
  <% @collaborator = Collaborator.new %>
    <%= form_for(@collaborator, url: project_collaborator_path, remote: true) do |f| %>
      <%= f.submit 'Become a collaborator on this project' %>
    <% end %>
  <% end %>
</div>

<% if !@project.events.empty? %>
  <div>
    <h3>Upcoming Events</h3>

    <% @project.events.each do |event| %>
      <div>
        <%= link_to event.title, event_path %>
      </div>
    <% end %>
  </div>
<% end %>

<div class='add-project-event'>
  <% if current_user == @project.owner || @project.collaborators.include?(current_user) %>
    <%= link_to 'Add a new event for this project', new_project_event_path(@project) %>
  <% end %>
</div>

<% if current_user == @project.owner %>
  <%= link_to 'Edit', edit_project_path %><br>
  <%= link_to 'Scrap this project', project_path(@project), method: :delete, data: { confirm: "Are you sure you'd like to delete this project?" } %>
<% end %>
