<h2><%= @project.title %></h2>

<a href="<%= @project.repository %>"><%= image_tag @project.image.thumb('400x200#').url if @project.image_stored? %></a>

<p><%= @project.summary %></p>

<div>
  <strong>Project Owner:</strong>

  <% if @project.owner.first_name == nil && current_user %>
    To add your name here, edit your profile and include your name there.
  <% else %>
  <%= @project.owner.first_name %> <%= @project.owner.last_name %>
  <% end %>

</div>

<div>
  <strong>Potential stack:</strong> <%= @project.stack %>
</div>

<div>
  <strong>Repository:</strong> <a href="<%= @project.repository %>"><%= @project.repository %></a>
</div>

<% if !@project.tag_list.empty? %>
  <div>
    <strong>Categories:</strong> <%= safe_join(@project.tag_list.map { |tag| link_to(tag, tag_path(Tag.find_by(name: tag))) }, ", ".html_safe) %>
  </div>
<% end %>

<div>
  <%= link_to 'Add a new event for this project', new_project_event_path(@project) %>
</div>



<div class="list-project-collaborators">
  <h3>Collaborators:</h3>
  <% @project.collaborators.each do |collaborator| %>
      <%= link_to collaborator.full_name, collaborator %>
    <br />
  <% end %>
</div>

<div class="collab-button">
  <% if user_signed_in? && !@project.collaborators.include?(current_user) %>
    <% @collaboration = Collaboration.new %>
    <%= form_for([@project, @collaboration], remote: true) do |f| %>
      <%= f.submit 'Become a collaborator on this project' %>
    <% end %>
  <% end %>


<div class='list-project-events'>
  <% if !@project.events.empty? %>
    <h3>Related Events </h3>
    <% @project.events.each do |event| %>
      <div>
        <%= link_to event.title, event_path %><br>
      </div>
    <% end %>
  </div><br>
<% end %>

<% if current_user == @project.owner %>
  <%= link_to 'Edit', edit_project_path %><br>
  <%= link_to 'Scrap this project', project_path(@project), method: :delete, data: { confirm: "Are you sure you'd like to delete this project?" } %>
<% end %>
<%= button_to 'Back', url_for(:back), :method => :get %>
