<div class="side-image">
  <div class="images-wrapper"></div>
  <style media="screen">
    .images-wrapper {
      background: url("http://lorempixel.com/1400/500/abstract") no-repeat;
    }
  </style>
    <div class="side-image-content">
      <h4>Tag</h4>

      <h1><%= @tag.name.capitalize %></h1>

      <% if !Event.tagged_with(@tag.name).empty? %>
        <p><strong>Related Events: </strong>
        <% Event.tagged_with(@tag.name).each do |event| %>
          <% if event != Event.tagged_with(@tag.name).last %>
            <%= link_to event.title, event %>,
          <% else %>
            <%= link_to event.title, event %>
          <% end %>
        <% end %></p>
      <% end %>

      <% if !Project.tagged_with(@tag.name).empty? %>
        <p><strong>Related Projects: </strong>
        <% Project.tagged_with(@tag.name).each do |project| %>
          <% if project != Project.tagged_with(@tag.name).last %>
            <%= link_to project.title, project %>,
          <% else %>
            <%= link_to project.title, project %>
          <% end %>
        <% end %></p>
      <% end %>

      <% if !User.tagged_with(@tag.name).empty? %>
        <p><strong>Interested Users: </strong>

        <% User.tagged_with(@tag.name).each do |user| %>
          <% if user != User.tagged_with(@tag.name).last %>
            <%= link_to user.full_name, user %>,
          <% else %>
            <%= link_to user.full_name, user %>
          <% end %>
        <% end %></p>
      <% end %>

      <%= button_to 'Back', url_for(:back), :method => :get, class: 'back-button' %>

    </div>
</div>
