<!DOCTYPE html>
<html>
  <head>
    <title>Bootcampr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="header-container">
      <%= render 'shared/header' %>
      <div class="header-spacer"></div>
    </div>
    <% if request.env['PATH_INFO'] == '/' %>
      <%= render 'shared/hero' %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="content-container">
        <%= yield %>
      </div>
    <% else %>
      <div class="header-spacer"></div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="content-container">
        <%= yield %>
      </div>
    <% end %>
  </body>
  </html>
